@import "./variables.scss";

.table-descr {
  td {
    text-align: left;
    padding-bottom: 25px;

    &.left {
        padding-right: 100px;
    }
  }
}
.table-descr-sm {
  td {
    text-align: left;
    padding-bottom:5px;
    word-wrap:break-word;
    &.left {
      padding-right: 10px;
    }
    .v-text-field {
      margin: 0;
      padding: 0;
    }
  }
}
